<div class="container mt-2 mb-5">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-10">
            <div class="card">
                <div class="p-3">
                    <h4>Comments</h4>
                </div>
                <div class="mt-1 d-flex flex-row align-items-center p-3 form-color">
                    <img src="/images/avatars/<%=  avatar  %>" width="50"
                        class="rounded-circle mr-2">
                    <input type="text" class="form-control text-light" placeholder="Enter your comment..."
                        id="commentInput">
                </div>
                <div class="mt-2">
                    <% for( let i = 0; i < article.comments.length; i++ ) { %>

                    <div class="d-flex flex-row p-3"> <img src="/images/avatars/<%= article.comments[i].author.avatar %> "
                            width="40" height="40" class="rounded-circle mr-3">
                        <div class="w-100">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-row align-items-center">
                                    <span class="mr-2"><%= article.comments[i].author.firstName %> <%= article.comments[i].author.lastName %> </span>
                                </div>
                                <small>12h ago</small>
                            </div>
                            <p class="text-justify comment-text mb-0"><%= article.comments[i].content %> </p>
                            <div class="d-flex flex-row user-feed justify-content-between">
                                <span class="wish"><i class="fa fa-heartbeat me-2"></i>24</span>
                                <span class="ml-3 comment-trash-btn d-none" deleteCommentAccess="<%= deleteCommentAccess %>"><i class="far fa-trash-alt"></i></span>
                            </div>
                        </div>
                    </div>

                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>