    <div class="card mt-3">
        <div class="card-body p-5">
            <div class="row mt-2 justify-content-center mb-2">
                <div class="cardImage-container text-center" id="imageContainer">
                    <img src="/articles/<%=  article.image  %>" alt="..." id="articleImage">
                </div>
            </div>
            <div class="row justify-content-center text-center p-3" id="titleContainer">
                <h3 class="card-title" id="articleTitle"><%= article.title %></h3>
            </div>
            <di class="row" id="contentContainer">
                <div class="card-text text-light fs-5 lh-base text-align text-wrap" id="articleContent">
                    <%= article.content %></div>
            </di>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <footer class="d-flex flex-grow align-items-center mb-3">
                <a href="#" class="text-decoration-none">
                    <div class="avatar">
                        <img src="/images/avatars/<%=  article.author.avatar  %>" alt="..." class="img-fluid">
                    </div>
                </a>
                <div class="author me-3">
                    <span class="h4"><%= article.author.firstName %> <%= article.author.lastName %></span>
                </div>
                <div class="date h5 d-flex pt-3"><i class="icon-clock"></i><%= article.createdAt %> </div>
                <div class="comments meta-last h5 d-flex pt-3"><i class="icon-comment"></i>12</div>
            </footer>
            <button class="btn btn-warning px-5 py-2" id="editArticleBtn" articleId="<%= article.id %>" data-bs-toggle="modal" data-bs-target="#editArticleModal">Edit</button>
        </div>
    </div>